In [1]:
#import requests
#import json

# Specifica la data di inizio e fine del periodo di cui vuoi ottenere i prezzi
#start_date = "2022-01-31"
#end_date = "2022-01-01"

# Specifica l'intervallo di tempo per ogni punto di dati (ad esempio, "1day" per ottenere un punto di dati al giorno)
#granularity = "1day"

# Effettua la chiamata all'API di Coinbase per ottenere lo storico dei prezzi
#url = f"https://api.coinbase.com/v2/prices/BTC-USD/historic?start_date={start_date}&end_date={end_date}&granularity={granularity}"
#response = requests.get(url)

# Verifica che la chiamata sia andata a buon fine
#if response.status_code != 200:
 #   print("Errore nella chiamata all'API")

# Carica i dati in formato JSON
#data = response.json()

# Stampa i prezzi ottenuti
#print(data)

In [1]:
import pandas as pd
import coinbasepro as cbp

client = cbp.PublicClient()

In [3]:
# Scarica i prezzi di bitcoin per l'ultimo anno
candles = client.get_product_historic_rates(product_id="BTC-USD", start="2022-12-21T00:00:00", stop="2022-12-22T00:00:00", granularity=86400)

In [4]:
df = pd.DataFrame(candles)
print(df.shape)
df.head()

(2, 6)

        time       low      high      open     close          volume
0 2022-12-22  16560.84  16868.82  16825.18  16815.51   21269.7673979
1 2022-12-21  16725.78  16926.05  16896.17  16826.56  16743.62189364

In [5]:
df = df.set_index('time')
df.head()

                 low      high      open     close          volume
time
2022-12-21  16725.78  16926.05  16896.17  16811.38   12065.3257349
2022-12-20  16398.22  17060.86  16439.98  16897.65  34330.28235168
2022-12-19   16273.4  16822.84  16742.33  16439.74  26856.08598724
2022-12-18  16663.76     16875  16782.23  16741.16  11073.43886205
2022-12-17  16585.64  16799.99  16634.29  16782.25   18446.6836015

**save dataset into csv**

In [6]:
data = 'data/'

In [7]:
df.to_csv(data + 'bitcoin.csv')