In [78]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize

from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import requests

import datetime

In [75]:
# Invia una richiesta HTTP all'API di Blockchain.info per ottenere i dati sulla difficoltà di bitcoin
response = requests.get("https://api.blockchain.info/stats")

# Controlla il codice di stato della risposta
try:
    response.raise_for_status()
except requests.exceptions.HTTPError as error:
    print(f"Errore nella richiesta: {error}")

# Estrai i dati dalla risposta
data = response.json()

# Crea un dataframe di Pandas con i dati sulla difficoltà
difficulty_df = pd.DataFrame([{
    'date': pd.to_datetime(data['timestamp'], unit='ms'),
    'difficulty': data['difficulty']
}])

# Crea un dataframe di Pandas con i dati sulla hashrate
hashrate_df = pd.DataFrame([{
    'date': pd.to_datetime(data['timestamp'], unit='ms'),
    'hashrate': data['hash_rate']
}])

# Unisci i due dataframe utilizzando il metodo merge()
result_df = pd.merge(difficulty_df, hashrate_df, on='date')

# Seleziona solo le righe del dataframe degli ultimi sei mesi
#result_df = result_df[result_df['date'] > pd.to_datetime('today') - pd.to_timedelta('6 months')]

In [76]:
result_df.head()

                 date      difficulty      hashrate
0 2022-12-21 22:02:43  35364065900457  2.496299e+11

In [80]:
df2 = result_df.rename(columns=({'date': 'time'}))
df2['time'] = df2['time'] = pd.to_datetime(df2['time'])
df2['time'] = df2['time'].dt.date
df2 = df2.set_index('time')

In [82]:
df2.head()

                difficulty      hashrate
time
2022-12-21  35364065900457  2.496299e+11

In [83]:
df = pd.read_csv('data/bitcoin.csv')
print(df.shape)
df.head()

(194, 8)

,time,low,high,open,close,volume,greed_and_fear,trend
0,2022-12-11,17073.19,17271.92,17128.10,17085.21,9948.852670,26,30
1,2022-12-10,17093.42,17227.64,17130.49,17128.10,7860.586876,27,28
2,2022-12-09,17060.69,17352.62,17226.03,17130.59,20976.636999,26,28
3,2022-12-08,16738.00,17300.59,16839.76,17226.01,23533.234537,25,28
4,2022-12-07,16679.52,17140.22,17089.18,16840.00,22635.468488,29,28

In [85]:
df = df.reset_index()
df['time'] = df['time'] = pd.to_datetime(df['time'])
df = df.set_index('time')

In [90]:
# Unisci i due dataframe in base alla colonna 'data'
df_merged = pd.concat(df, df2)

# Stampa il dataframe unificato
df_merged.head()

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"