In [1]:
import tweepy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import time

import csv

import datetime
from datetime import datetime, timezone, date, timedelta

**Creo la connessione con le api di twitter**

In [2]:
bearer_token = "AAAAAAAAAAAAAAAAAAAAAPgukgEAAAAADYQXq5tFdfahfgxE%2FSQqxcV4OFU%3DIETAxHE05aQI4saJCxFJMQiaurCSZgYMSHZ9kl7SMVNNxM5V4S"  # BEARER_TOKEN
auth = tweepy.Client(bearer_token)
api = tweepy.API(auth)

**scarico dataset**

In [10]:
df = pd.read_csv('data/bitcoin_tweets.csv')
print(df.shape)
df.tail()

(86889, 4)

,created_at,tweet_id,text,language
86884,2022-06-23 12:38:24+00:00,1539951002450767883,RT @Bettermnt_Digt: Betterment Digital #Airdro...,en
86885,2022-06-23 12:38:24+00:00,1539951004200112135,RT @AirdropDet: üîç New #Airdrop: Betterment Dig...,en
86886,2022-06-23 12:38:25+00:00,1539951004505894912,1Ô∏è‚É£‚ÄìPowell Sees No ‚ÄúMacroeconomic Implications...,en
86887,2022-06-23 12:38:25+00:00,1539951006473080832,RT @furrincrypto: $300 | 4.2 JT ~ 72 HOURS üõèÔ∏èüßª...,en
86888,2022-06-23 12:38:25+00:00,1539951006959763456,Bitcoin price prediction: Here‚Äôs why a rally i...,en

In [11]:
#inverto il dataframe
#df = df.iloc[::-1]

#trasformo la colonna created_at in datetime
df['created_at'] = pd.to_datetime(df['created_at'])

**scarico i tweets**

In [ ]:
#hashtag
#query= "bitcoin"

#Load tweets
#response = auth.search_all_tweets(query, max_results=500, tweet_fields=["created_at", "lang"], until_id=(df['tweet_id'][-1]))
#response = client.search_recent_tweets(query, user_auth=True, max_results=100, tweet_fields=["created_at", "lang", "geo"], start_time=days_before)
#tweets = response.data

# Initialize dictionaries
#users_basic_info = []

#for tweet in tweets:
#    users_basic_info.append([tweet.created_at, tweet.id, tweet.text, tweet.lang])

In [12]:
# Numero di giorni da scaricare
num_days = 30

# Numero di tweet da scaricare ogni giorno
num_tweets = 500

# Inizializza una lista che conterr√† i tweet scaricati
tweet_list = []

# Inizializza la data di inizio del loop
start_date = df['created_at'].iloc[-1] - timedelta(days=31)
#start_date = datetime.now() - timedelta(days=30)

# Crea il loop
for i in range(num_days):
    # Aggiorna la data di fine
    end_date = start_date + timedelta(days=1)

    # Formatta le date come stringhe nel formato richiesto dall'API
    formatted_start_date = start_date.strftime("%Y-%m-%dT%H:%M:%S")
    formatted_end_date = end_date.strftime("%Y-%m-%dT%H:%M:%S")

    #hashtag
    query= "bitcoin"

    # Scarica i tweet
    response = auth.search_all_tweets(query, max_results=num_tweets, tweet_fields=["created_at", "lang"], start_time=start_date, end_time=end_date)
    tweets = response.data

    # Aggiungi i tweet alla lista
    for tweet in tweets:
        tweet_list.append([tweet.created_at, tweet.id, tweet.text, tweet.lang])

    # Aggiorna la data di inizio
    start_date = end_date
    time.sleep(5)

In [13]:
df_new = pd.DataFrame(data=tweet_list, columns=['created_at', 'tweet_id', 'text', 'language'])  
df_new.set_index("created_at", inplace = True)

In [14]:
#inverto il nuovo dataframe dalla data pi√π recente alla pi√π vecchia
df_new = df_new.iloc[::-1]
print(df_new.shape)
df_new.tail()

(13375, 3)

,tweet_id,text,language
created_at,,,
2022-05-24 12:38:24+00:00,1529079365765578752,Bitcoin dives to fill CME gap amid claim new a...,en
2022-05-24 12:38:24+00:00,1529079366650585095,RT @JohanPe44499068: This current week can bec...,en
2022-05-24 12:38:24+00:00,1529079366793039872,RT @DMM_Bitcoin: Ôºè\nÊØéÊó•ÂèÇÂä†ÔºÅ„Åù„ÅÆÂ†¥„ÅßÂΩì„Åü„ÇãÔºÅ\nüéâ #„Éï„Ç©„É≠„ÉºRT„Ç≠„É£...,ja
2022-05-24 12:38:24+00:00,1529079366889746432,RT @bip_show: ARTE √® una TV pubblica Franco-Te...,it
2022-05-24 12:38:24+00:00,1529079367460003840,RT @Blockworks_: Ray Dalio: #Bitcoin is still ...,en

In [15]:
df_new.head()

,tweet_id,text,language
created_at,,,
2022-06-22 12:36:03+00:00,1539588022433357827,@saylor In the future we don't waste energy fo...,en
2022-06-22 12:36:03+00:00,1539588024056553472,üí•BREAKING: Deloitte and NYDIG have partnered t...,en
2022-06-22 12:36:05+00:00,1539588029379387392,@ferialhaffajee I‚Äôm still smiling! It‚Äôs been s...,en
2022-06-22 12:36:05+00:00,1539588030087979009,"Cardano (ADA) - An√°lise de hoje, 22/06/2022! #...",pt
2022-06-22 12:36:05+00:00,1539588031270756353,RT @CryptoBusy: Remember our HUGE #Bitcoin giv...,en

**salvo i dati in un csv**

In [ ]:
#df_new.to_csv('data/bitcoin_tweets.csv', mode='a', header=False)

In [16]:
df_new.to_csv('data/bitcoin_tweets.csv', mode='a', header=False, quotechar='"', quoting=csv.QUOTE_NONNUMERIC, escapechar='\\')