In [34]:
import pandas as pd

from textblob import TextBlob
import re
import string

import numpy as np

from numpy import mean
from numpy import median

from statistics import mode

In [10]:
def preprocess_tweet(tweet):
    # Rimuove i caratteri di nuova riga e a capo
    tweet = tweet.replace("\n", " ").replace("\r", " ")
    
    # Rimuove i link
    tweet = re.sub(r"http\S+", "", tweet)
    
    # Rimuove gli hashtag
    tweet = re.sub(r"#\S+", "", tweet)
    
    # Rimuove le menzioni
    tweet = re.sub(r"@\S+", "", tweet)
    
    # Rimuove i caratteri di punteggiatura
    tweet = tweet.translate(str.maketrans("", "", string.punctuation))
    
    # Converti il testo in minuscolo
    tweet = tweet.lower()
    
    return tweet

In [6]:
df = pd.read_csv('data/bitcoin_tweets.csv', index_col='created_at')
print(df.shape)
df.tail()

(100264, 3)

,tweet_id,text,language
created_at,,,
2022-05-24 12:38:24+00:00,1529079365765578752,Bitcoin dives to fill CME gap amid claim new a...,en
2022-05-24 12:38:24+00:00,1529079366650585095,RT @JohanPe44499068: This current week can bec...,en
2022-05-24 12:38:24+00:00,1529079366793039872,RT @DMM_Bitcoin: Ôºè\nÊØéÊó•ÂèÇÂä†ÔºÅ„Åù„ÅÆÂ†¥„ÅßÂΩì„Åü„ÇãÔºÅ\nüéâ #„Éï„Ç©„É≠„ÉºRT„Ç≠„É£...,ja
2022-05-24 12:38:24+00:00,1529079366889746432,RT @bip_show: ARTE √® una TV pubblica Franco-Te...,it
2022-05-24 12:38:24+00:00,1529079367460003840,RT @Blockworks_: Ray Dalio: #Bitcoin is still ...,en

In [7]:
tweets = df['text']

In [11]:
# Crea una copia della colonna 'text' del dataframe
df['text_clean'] = df['text'].copy()

# Sostituisci i testi elaborati nella colonna 'text_clean' del dataframe
df['text_clean'] = df['text_clean'].apply(preprocess_tweet)

In [12]:
df.head()

,tweet_id,text,language,text_clean
created_at,,,,
2022-12-21 12:35:33+00:00,1605542489414602752,Giant Bitcoin Miner Core Scientific Files For ...,en,giant bitcoin miner core scientific files for ...
2022-12-21 12:35:33+00:00,1605542489447747584,#ETC\n\nTradebot Strategies ETC Teknik Analizi...,tr,tradebot strategies etc teknik analizini olu...
2022-12-21 12:35:33+00:00,1605542490643353600,RT @BillyM2k: @elonmusk according to fox busin...,en,rt according to fox business i‚Äôm an ‚Äúanonymo...
2022-12-21 12:35:34+00:00,1605542491251527680,RT @BitcoinII: BitBull is the safest and most ...,en,rt bitbull is the safest and most reliable cr...
2022-12-21 12:35:34+00:00,1605542491406872576,Giant Bitcoin Miner Core Scientific Files For ...,en,giant bitcoin miner core scientific files for ...

In [13]:
def get_sentiment(tweet_text):
    analysis = TextBlob(tweet_text)
    return analysis.sentiment.polarity

In [14]:
df['sentiment'] = df['text_clean'].apply(get_sentiment)

In [16]:
df.tail()

,tweet_id,text,language,text_clean,sentiment
created_at,,,,,
2022-05-24 12:38:24+00:00,1529079365765578752,Bitcoin dives to fill CME gap amid claim new a...,en,bitcoin dives to fill cme gap amid claim new a...,0.136364
2022-05-24 12:38:24+00:00,1529079366650585095,RT @JohanPe44499068: This current week can bec...,en,rt this current week can become bullish for b...,0.000000
2022-05-24 12:38:24+00:00,1529079366793039872,RT @DMM_Bitcoin: Ôºè\nÊØéÊó•ÂèÇÂä†ÔºÅ„Åù„ÅÆÂ†¥„ÅßÂΩì„Åü„ÇãÔºÅ\nüéâ #„Éï„Ç©„É≠„ÉºRT„Ç≠„É£...,ja,rt Ôºè ÊØéÊó•ÂèÇÂä†ÔºÅ„Åù„ÅÆÂ†¥„ÅßÂΩì„Åü„ÇãÔºÅ üéâ üéâ 400ÂêçÊßò„Å´500ÂÜÜÂàÜ„ÅÆ„Éá„Ç∏„Çø„É´„ÇÆ„Éï„Éà„Çí„Éó...,0.000000
2022-05-24 12:38:24+00:00,1529079366889746432,RT @bip_show: ARTE √® una TV pubblica Franco-Te...,it,rt arte √® una tv pubblica francotedesca a fin...,0.416667
2022-05-24 12:38:24+00:00,1529079367460003840,RT @Blockworks_: Ray Dalio: #Bitcoin is still ...,en,rt ray dalio is still part of my portfolio,0.000000

In [22]:
df = df.reset_index()
df['created_at'] = pd.to_datetime(df['created_at'])

In [23]:
# Crea una nuova colonna 'date' che estrae la data dalla colonna 'created_at'
df['date'] = df['created_at'].dt.date

In [24]:
df.head()

,index,created_at,tweet_id,text,language,text_clean,sentiment,date
0,0,2022-12-21 12:35:33+00:00,1605542489414602752,Giant Bitcoin Miner Core Scientific Files For ...,en,giant bitcoin miner core scientific files for ...,0.0,2022-12-21
1,1,2022-12-21 12:35:33+00:00,1605542489447747584,#ETC\n\nTradebot Strategies ETC Teknik Analizi...,tr,tradebot strategies etc teknik analizini olu...,0.0,2022-12-21
2,2,2022-12-21 12:35:33+00:00,1605542490643353600,RT @BillyM2k: @elonmusk according to fox busin...,en,rt according to fox business i‚Äôm an ‚Äúanonymo...,0.0,2022-12-21
3,3,2022-12-21 12:35:34+00:00,1605542491251527680,RT @BitcoinII: BitBull is the safest and most ...,en,rt bitbull is the safest and most reliable cr...,0.5,2022-12-21
4,4,2022-12-21 12:35:34+00:00,1605542491406872576,Giant Bitcoin Miner Core Scientific Files For ...,en,giant bitcoin miner core scientific files for ...,0.0,2022-12-21

In [35]:
# raggruppa i dati per data utilizzando la colonna 'data' come chiave di raggruppamento
grouped_data = df.groupby('date')

# per ogni gruppo di dati, calcola la mediana del sentiment e aggiungi il valore alla lista medie
medie = []
for name, group in grouped_data:
    medie.append(mean(group['sentiment']))

# stampa le medie calcolate
print(medie)

[0.07844298811478614, 0.07671463978408416, 0.053116319816505456, 0.08964688758500029, 0.08136759192129345, 0.06273947033358797, 0.07986098213718863, 0.04869874825224048, 0.08974624994675032, 0.10212446215400751, 0.07824566523530894, 0.10207643711566419, 0.0949485114468558, 0.09717434411226351, 0.059055202251876576, 0.07779988926262395, 0.0849533175672064, 0.09145284859173744, 0.08442521899295032, 0.045943426379156216, 0.039120231178703724, 0.04805293076355854, 0.06352405623587633, 0.07021760940722804, 0.06377590147423133, 0.05664362562027108, 0.06863283551865802, 0.07212946833172397, 0.05818634627244586, 0.07585630319653841, 0.06968248486577007, 0.08128068968011126, 0.030215539928352908, 0.0747785515611602, -0.00022166926880041356, 0.05930925950978031, 0.06130138518697402, 0.04903604141104141, 0.0704195539353434, 0.045749268583036844, 0.0733169268938897, 0.10788274153808372, 0.08971649198754467, 0.0849480894170285, 0.07694170674313239, 0.09410815222878868, 0.11442100682822329, 0.14669268634776947, 0.16344204734348447, 0.10913908862203106, 0.05347512558079568, 0.10272956661247802, 0.06922351867680954, 0.06440173018556285, 0.14257424635294394, 0.06870011021229241, 0.08977812807160634, 0.07307965192868832, 0.04945759341131679, 0.10834507019884371, 0.08452200564072825, 0.046064718764407556, 0.11784472948367793, 0.0431359286864934, 0.0819801823235367, 0.10566308279299531, 0.07661265211514158, 0.07727585377585373, 0.09881909524520358, 0.09758288326179151, 0.0830021283252216, 0.10055508465805582, 0.09947149692412864, 0.07993304445339325, 0.1490846743005111, 0.10727820381474673, 0.09212688185239731, 0.06350270850270852, 0.04126955633479644, 0.07009403405236736, 0.04824838084599618, 0.09739156929885243, 0.12574914535581935, 0.15245152795152767, 0.1991396292573072, 0.0703982999535516, 0.06283287951544254, 0.09057199780575045, 0.14248129064428858, 0.06363250623797503, 0.07875971958781185, 0.03769662792050087, 0.045817828743360677, 0.05568637068900785, 0.06399001734133312, 0.07553109570470684, 0.050230912230912236, 0.07258187548773645, 0.03677583161796412, 0.08024117714025499, 0.0669852822632137, 0.04046174772939479, 0.045383639742816964, 0.06370996384135445, 0.0427280349822191, 0.05218700139418953, 0.0609361479019217, 0.025365286845819613, 0.06626256264482407, 0.0815645767142441, 0.08390361952861948, 0.0666415945165944, 0.055478682797147516, 0.10975303588164406, 0.06507409164210175, 0.06598102298023013, 0.08006312105725744, 0.09757194572148076, 0.02750362709353489, 0.04585664048990497, 0.09061553497112491, 0.07097179055512393, 0.1648773994467011, 0.08387758537758531, 0.07907046853533779, 0.11477407671750332, 0.09102316400530674, 0.04191190974994888, 0.06222059946544485, 0.051993404480204126, 0.1667988413813046, 0.0680630483540596, 0.05342312678429586, 0.051333394905605005, 0.0469614462511554, 0.04840954086886838, 0.098038595653692, 0.049535258601048085, 0.09537652768284346, 0.03885631380512845, 0.03020107152068851, 0.04548585204092761, 0.0531084252729955, 0.07053205224101557, 0.05779953925217092, 0.12420900010483335, 0.10010988865243065, 0.07974183897443389, 0.09837301587301583, 0.04955755955755956, 0.16121220536006084, 0.06458828121112609, 0.06426934334716855, 0.08766244943328279, 0.07525200903456115, 0.10535854303842743, 0.13089297012083165, 0.08915602075774401, 0.0788097058164908, 0.11506299640442193, 0.13801946488442263, 0.10398966187427715, 0.0729657599198738, 0.08292485717230619, 0.05735665299029351, 0.1247933159675466, 0.06375113225113224, 0.09598143315572509, 0.06914592451063642, 0.06489055127522397, 0.031179773284231996, 0.04650000408256585, 0.05239839481506149, 0.05740178704617, 0.06227690551950593, 0.05219504035335644, 0.061232342447548646, 0.06216437304560945, 0.038147908147908166, 0.10213098059537601, 0.0713873500432697, 0.06446008849793504, 0.08268445867404202, 0.08806127370523106, 0.09087579406855383, 0.16444845321465185, 0.10516841943685262, 0.09255089602017563, 0.07227440534294527, 0.1298245304658468, 0.06009102293426066, 0.058883602894019595, 0.06837696012011428, 0.02047980960865182, 0.10838668939591062, 0.07904183558358766, 0.12974551601492604, 0.09852467430391859, 0.09889434863620183, 0.07954727953692917, 0.02366413654925066, 0.05785491235853449, 0.04988416875762552, 0.05959352726398177, 0.06910174027709093, 0.058196972582972586, 0.06872763058004022, 0.06297794412377744, 0.06638048767943344, 0.06115670373936917, 0.05646807925615541, 0.049291354474220214]

In [59]:
# crea il dizionario con le date come chiavi e i valori medi come valori
dati = {key: value for key, value in zip(grouped_data.groups.keys(), medie)}

# crea il DataFrame utilizzando il dizionario appena creato
df_medie = pd.DataFrame.from_dict(dati, orient='index')

# rinomina la colonna del DataFrame con il nome desiderato
df_medie.rename(columns={0: 'sentiment_medio'}, inplace=True)

# visualizza il DataFrame con i valori medi del sentiment per ogni giorno
df_medie

            sentiment_medio
2022-05-24         0.078443
2022-05-25         0.076715
2022-05-26         0.053116
2022-05-27         0.089647
2022-05-28         0.081368
...                     ...
2022-12-17         0.062978
2022-12-18         0.066380
2022-12-19         0.061157
2022-12-20         0.056468
2022-12-21         0.049291

[212 rows x 1 columns]

In [60]:
df_medie = df_medie.reset_index()
df_medie.head()

        index  sentiment_medio
0  2022-05-24         0.078443
1  2022-05-25         0.076715
2  2022-05-26         0.053116
3  2022-05-27         0.089647
4  2022-05-28         0.081368

In [61]:
df_medie.rename(columns={'index': 'time'}, inplace=True)
df_medie.head()

         time  sentiment_medio
0  2022-05-24         0.078443
1  2022-05-25         0.076715
2  2022-05-26         0.053116
3  2022-05-27         0.089647
4  2022-05-28         0.081368

In [62]:
df_medie = df_medie.iloc[::-1]
df_medie.head()

           time  sentiment_medio
211  2022-12-21         0.049291
210  2022-12-20         0.056468
209  2022-12-19         0.061157
208  2022-12-18         0.066380
207  2022-12-17         0.062978

In [63]:
#trasformo la colonna created_at in datetime
df_medie['time'] = pd.to_datetime(df_medie['time'])

In [64]:
df_medie = df_medie.set_index('time')
df_medie.head()

            sentiment_medio
time
2022-12-21         0.049291
2022-12-20         0.056468
2022-12-19         0.061157
2022-12-18         0.066380
2022-12-17         0.062978

In [65]:
df_medie = df_medie.loc['2022-12-11':'2022-06-01']

In [70]:
df_medie.head()

   index       time  sentiment_medio
0      0 2022-12-11         0.057855
1      1 2022-12-10         0.023664
2      2 2022-12-09         0.079547
3      3 2022-12-08         0.098894
4      4 2022-12-07         0.098525

**Importo il dataset dei bitcoin**

In [67]:
df = pd.read_csv('data/bitcoin.csv')
print(df.shape)
df.head()

(194, 8)

,time,low,high,open,close,volume,greed_and_fear,trend
0,2022-12-11,17073.19,17271.92,17128.10,17085.21,9948.852670,26,30
1,2022-12-10,17093.42,17227.64,17130.49,17128.10,7860.586876,27,28
2,2022-12-09,17060.69,17352.62,17226.03,17130.59,20976.636999,26,28
3,2022-12-08,16738.00,17300.59,16839.76,17226.01,23533.234537,25,28
4,2022-12-07,16679.52,17140.22,17089.18,16840.00,22635.468488,29,28

In [69]:
# Rendi le date presenti nell'indice del dataframe df_sentiment come colonne
df_medie = df_medie.reset_index()

#trasforma df['time'] in datetime
df['time'] = pd.to_datetime(df['time'])

# Unisci i due dataframe utilizzando la colonna "time" come chiave di unione
df_merged = pd.merge(df, df_medie, on='time')

,time,low,high,open,close,volume,greed_and_fear,trend,index,sentiment_medio
0,2022-12-11,17073.19,17271.92,17128.10,17085.21,9948.852670,26,30,0,0.057855
1,2022-12-10,17093.42,17227.64,17130.49,17128.10,7860.586876,27,28,1,0.023664
2,2022-12-09,17060.69,17352.62,17226.03,17130.59,20976.636999,26,28,2,0.079547
3,2022-12-08,16738.00,17300.59,16839.76,17226.01,23533.234537,25,28,3,0.098894
4,2022-12-07,16679.52,17140.22,17089.18,16840.00,22635.468488,29,28,4,0.098525

In [73]:
df_merged = df_merged.set_index('time')
df_merged.head()

,low,high,open,close,volume,greed_and_fear,trend,index,sentiment_medio
time,,,,,,,,,
2022-12-11,17073.19,17271.92,17128.10,17085.21,9948.852670,26,30,0,0.057855
2022-12-10,17093.42,17227.64,17130.49,17128.10,7860.586876,27,28,1,0.023664
2022-12-09,17060.69,17352.62,17226.03,17130.59,20976.636999,26,28,2,0.079547
2022-12-08,16738.00,17300.59,16839.76,17226.01,23533.234537,25,28,3,0.098894
2022-12-07,16679.52,17140.22,17089.18,16840.00,22635.468488,29,28,4,0.098525

In [75]:
df_merged.rename(columns={'trend': 'google_trend'}, inplace=True)
df_merged.head()

,low,high,open,close,volume,greed_and_fear,google_trend,index,sentiment_medio
time,,,,,,,,,
2022-12-11,17073.19,17271.92,17128.10,17085.21,9948.852670,26,30,0,0.057855
2022-12-10,17093.42,17227.64,17130.49,17128.10,7860.586876,27,28,1,0.023664
2022-12-09,17060.69,17352.62,17226.03,17130.59,20976.636999,26,28,2,0.079547
2022-12-08,16738.00,17300.59,16839.76,17226.01,23533.234537,25,28,3,0.098894
2022-12-07,16679.52,17140.22,17089.18,16840.00,22635.468488,29,28,4,0.098525

In [76]:
df = df_merged.drop("index", axis=1)
df.head()

,low,high,open,close,volume,greed_and_fear,google_trend,sentiment_medio
time,,,,,,,,
2022-12-11,17073.19,17271.92,17128.10,17085.21,9948.852670,26,30,0.057855
2022-12-10,17093.42,17227.64,17130.49,17128.10,7860.586876,27,28,0.023664
2022-12-09,17060.69,17352.62,17226.03,17130.59,20976.636999,26,28,0.079547
2022-12-08,16738.00,17300.59,16839.76,17226.01,23533.234537,25,28,0.098894
2022-12-07,16679.52,17140.22,17089.18,16840.00,22635.468488,29,28,0.098525

**salvo il dataset finale nel csv originale**

In [77]:
df.to_csv('data/bitcoin.csv')